#navigation [class^="icon-"],[class*=" ico-"] {
    display:inline;
    width:auto;
    height:auto;
    line-height:normal;
    vertical-align:baseline;  
}


.dropdown-menu{
    border:2px solid #666;
    background:#fff;
    margin-top:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;border-radius:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none
}
.dropdown-menu:before{border:0}

#navigation .user .dropdown>a{padding:7px 6px 6px 6px !important}

#navigation{
    background: #009AD7;
    position:relative;
    z-index:100;
  
}

#navigation.navbar-fixed-top{position:fixed;z-index:1030}
#navigation .dropdown-menu{border-top:0;border-color:#368ee0}
#navigation .dropdown-menu>li.dropdown-submenu .dropdown-menu{
    border-top:2px solid #368ee0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;margin-left:0
}
#navigation .dropdown-menu>li.dropdown-submenu:hover>a,
#navigation .dropdown-menu>li.dropdown-submenu:focus>a{background:#368ee0;color:#fff}
#navigation .dropdown-menu>li.dropdown-submenu:hover>a:after,
#navigation .dropdown-menu>li.dropdown-submenu:focus>a:after{border-left-color:#fff}
#navigation .dropdown-menu>li>a:hover{background:#368ee0;color:#fff;filter:none}

#navigation .user .icon-nav{float:left;font-family:"Open Sans",sans-serif !important}
#navigation .user .icon-nav>li{margin-right:3px;float:left}
#navigation .user .icon-nav>li .message-ul{width:280px;padding:0}
#navigation .user .icon-nav>li .message-ul.feed>li>a{padding:10px 20px}
#navigation .user .icon-nav>li .message-ul.feed>li>a .message{color:#333}
#navigation .user .icon-nav>li .message-ul.feed>li>a .message .label{padding:2px;margin-right:5px}
#navigation .user .icon-nav>li .message-ul>li>a{overflow:hidden;*zoom:1;padding:10px}
#navigation .user .icon-nav>li .message-ul>li>a:hover{background:#f3f3f3;color:#333}
#navigation .user .icon-nav>li .message-ul>li>a:hover .details .message{color:#444}
#navigation .user .icon-nav>li .message-ul>li>a:hover .count{color:#ccc}
#navigation .user .icon-nav>li .message-ul>li>a:hover .count span{color:#333}
#navigation .user .icon-nav>li .message-ul>li>a img{float:left;width:40px}
#navigation .user .icon-nav>li .message-ul>li>a .details{float:left;margin-left:10px;max-width:210px;overflow:hidden}
#navigation .user .icon-nav>li .message-ul>li>a .details .name{font-size:15px}
#navigation .user .icon-nav>li .message-ul>li>a .details .message{margin-top:2px;color:#777}
#navigation .user .icon-nav>li .message-ul>li>a .count{float:right;color:#e3e3e3;font-size:30px;position:relative;margin-top:2px}
#navigation .user .icon-nav>li .message-ul>li>a .count span{font-size:13px;color:#666;position:absolute;text-align:center;left:0;right:0;top:5px}
#navigation .user .icon-nav>li .message-ul>li>a.more-messages{background:#e6e6e6;text-align:center;padding:8px 15px}
#navigation .user .icon-nav>li .message-ul>li>a.more-messages:hover{background:#ddd;color:#333}
#navigation .user .icon-nav>li>a{padding:11px 10px 9px 10px;display:block;color:#fff;position:relative}
#navigation .user .icon-nav>li>a .label{
    color:#fff;    
    background: none repeat scroll 0 0 #E63A3A !important; 
    position:absolute;top:2px;right:1px;font-size:11px;font-weight:400;padding:0 3px
}

#navigation .user .icon-nav>li>a:hover{background:#1b67af;text-decoration:none}
#navigation .user .icon-nav>li>a i{
        font-size:22px
}
#navigation .user .dropdown{float:left}
#navigation .user .dropdown.open{background:#1b67af}
#navigation .user .dropdown>a{display:block;color:#fff;padding:7px 12px 6px 12px;text-decoration:none}
#navigation .user .dropdown>a:hover{background:#1b67af}
#navigation .user .dropdown>a img{margin-left:10px}
#navigation .user{float:right}
#navigation .user>a{color:#fff}
#navigation .user .icon-nav{list-style-type:none;margin:0;padding:0}.nopadding{padding:0 !important}

.theme-settings > li {
    margin-top: 10px;
    padding: 0;
}
.theme-settings > li:first-child {
    margin-top: 5px;
}
.theme-settings > li span {
    color: #666666;
    display: block;
    padding-left: 15px;
}
.theme-settings > li .version-toggle > a, .theme-settings > li .topbar-toggle > a, .theme-settings > li .sidebar-toggle > a {
    color: #444444;
    display: block;
    padding: 5px 25px;
    text-decoration: none;
}
.theme-settings > li .version-toggle > a.active, .theme-settings > li .topbar-toggle > a.active, .theme-settings > li .sidebar-toggle > a.active {
    position: relative;
}
.theme-settings > li .version-toggle > a:hover, .theme-settings > li .topbar-toggle > a:hover, .theme-settings > li .sidebar-toggle > a:hover {
    background: none repeat scroll 0 0 #DDDDDD;
}
